<div class="max-w-3xl mx-auto mt-10 bg-pink-50 border border-pink-200 rounded-3xl shadow-md p-8 text-center space-y-6">
  <h1 class="font-bold text-3xl text-pink-700"><%= @questionnaire.title %></h1>
  <p class="text-pink-700"><%= @questionnaire.description %></p>

  <%= link_to "Começar Questionário", question_questionnaire_path(@questionnaire, @first_question), class: "inline-block rounded-xl px-6 py-3 bg-pink-500 hover:bg-pink-600 text-white font-bold transition" %>
</div>
