<h1>Administrador - Dashboard</h1>
<p>Bem-vindo, <%= current_user.name %>!</p>

<ul>
  <li><%= link_to "Gerenciar Questionários", questionnaires_path %></li>
  <li><%= link_to "Gerenciar Usuários (futuro)", "#" %></li>
  <li><%= link_to "Ver Relatórios (futuro)", "#" %></li>
</ul>
