<h1>Área do Aluno</h1>
<p>Bem-vindo, <%= current_user.name %>!</p>

<ul>
  <li><%= link_to "Responder Questionários", questionnaires_path %></li>
  <li><%= link_to "Meus Resultados", "#" %></li>
</ul>
